<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/img/thisone_logo_128_53.png' | relative_url }}" alt="thisone.co.kr logo" height="40" class="d-inline-block align-text-top me-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/#projects' | relative_url }}">프로젝트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/contact/' | relative_url }}">문의하기</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
